/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General Page styling */
body {
    background-color: white;
    overflow-x: hidden;
}

/* Nav Bar */

li {
    display: inline;
    padding: 5px;
}

a {
    font-family: "roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 0.5px 4px rgba(46, 31, 31, 0.5);
    color: white;
    text-decoration: none;
}

.nav-bar {
    background-color: #216391;
    padding-top: 10px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    top: 0;
    z-index: 9;
}

a:hover {
    color: #D7EAF7;
}

/*creates a line under the home and contact links to separate them from the image links */
#nav-border {
    padding-bottom: 10px;
    border-bottom: 3px solid #FFFFFF;
}

/* Headers */

h1, h2, h3 {
    color: #0a3f63;
    text-align: center;
    font-family: "Mukta", sans-serif;
    text-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3 {
    text-shadow: none;
}

/* header animation */

@keyframes color-text {
    0% {
        color: #b5e1ff;
    }
    100% {
        color: #0a3f63;
    }
}
/* calls the animation by its name in a CSS selector so it can be applied to a specific HTML element */
.animate-text {
    animation: color-text 4s;
}

/* Body Content */

img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Image Columns */

.column {
    float: left;
    width: 48%;
    padding: 10px;
}

/*groups elements inside a div element together and forces any floating elements outside of the div under it with this class slector */
.container {
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/* this is part of the container class selector to format the elements to display any table-like format */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* sets up the size of each div that holds an image so the image can be centered */
.image-container {
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

/* Pet Image Backgrounds */

#cat {
    background-color: #d7eaf7;
}

#dog {
    background-color: #c3e0c5;
}

#rabbits {
    background-color: #c3e0c5;
}

#guineapigs {
    background-color: #d7eaf7;
}

#fish {
    background-color: #d7eaf7;
}

#reptiles {
    background-color: #c3e0c5;
}

/* Image Overlay */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
    opacity: 0.6;
}

/* Video */

/* this selector targets the video on the page */
iframe {
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

/* styles the div element that holds the video */
#video {
    background-color: #c3e0c5;
    padding-top: 5px;
    padding-bottom: 50px;
}

/* Footer */

footer {
    background-color: #216391;
    margin-top: 50px;

    /* negative margins stretch the footer background beyond the web browser screen edge on the left and right */
    margin-right: -10px;
    margin-left: -10px;

    bottom: 0;
}

/* styles the table elements within the footer tag */
table {
    width: 100%;
}

/* styles the table data elements */
td {
    text-align: center;

    /* we divide the three columns equally so that each column takes up one third of the browser width */
    width: 33%;
}

/* specifically styles the paragraph elements within the table data elements */
td p {
    font-family: Roboto, sans-serif;
    color: rgb(255, 255, 255);
}

/* Contact Form */

form {
    padding: 15px;
    display: table;
    margin: auto;
}

/* Input Fields */
input {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    transition: color 0.3s ease-out;
}

/* the focus pseudo-class is triggered when a user clicks on an input element */

input:focus {
    box-sizing: border-box;
    border: 2px solid #0a3f63;
    color: #000000;
    transition: 0.3s ease-in;
    outline: none;
}

/* styles the label tag on the contact form */

label {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin: 10px;
}

/* the type selector for the textarea element for a user to write a message */

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background: #ffffff;
    font-family: Roboto, sans-serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    resize: both;
    transition: color 0.3s ease-out;
}

/* applies different styling to the text area when users trigger the focus pseudo-class by clicking on it */

textarea:focus {
    box-sizing: border-box;
    color: black;
    border: 3px solid #0a3f63;
    transition: color 0.3s ease-in;
    outline: none;
}

/* styles the submit button */

input[type="submit"] {
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

/* changes the background color of the submit button when a user hovers over it */

input[type="submit"]:hover {
    background-color: #052133;
}

